@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Roboto:wght@100;300;400&display=swap");

.spotra-wrapper * {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  box-sizing: border-box;
}

.spotra-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(51, 51, 51);
}

.spotra-result {
  opacity: 0;
  margin-top: -32px;
  visibility: hidden;
  background-color: #f8f5f4;
  width: 50vw;
  padding: 5px 60px;
  color: rgb(51, 51, 51, 0.9);
  transition: all 200ms ease-out;
  border-radius: 0 0 5px 5px;
  font-size: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.spotra-result.open {
  opacity: 1;
  margin-top: 0;
  visibility: visible;
}

.translated-text {
  padding: 0;
  margin: 0;
}

.input {
  font-size: 24px;
  display: block;
  width: 50vw;
  height: 56px;
  margin: auto;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: #f8f5f4;
  background-image: url("./images/find-icon.svg");
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-size: 32px;
  padding: 0 120px 0 60px;
  color: #333;
}

.input-wrapper {
  position: relative;
}

.swapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 0;
  width: 100px;
  height: 100%;
}

.swapper * {
  font-size: 16px;
}

.langs {
  display: flex;
}

.from-element,
.to-element {
  position: relative;
  font-size: 16px;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 10px;
  user-select: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.1s all ease-out;
  background-color: #eee;
  text-transform: uppercase;
}

.from-element {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.to-element {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.to-element:hover {
  opacity: 0.9;
}

.from-element:hover {
  opacity: 0.9;
}

@media screen and (width < 1366px) {
  .input,
  .spotra-result {
    width: 65vw;
  }
}

.lang-selector {
  opacity: 0.25;
  width: 130px;
  height: 0;
  max-height: 200px;
  position: absolute;
  transition: 0.3s all ease;
  overflow-y: auto;
  z-index: 999;
}

.lang-selector * {
  user-select: none;
}

.lang-selector::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.lang-selector::-webkit-scrollbar-thumb {
  border-radius: 106px;
  background-color: rgba(51, 51, 51, 0.25);
}

.lang-selector.open {
  opacity: 1;
  height: 200px;
}

.language {
  background-color: rgb(248, 245, 244);
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.25);
  padding: 12px 8px;
  text-align: center;
}

.language:hover {
  border-bottom: 1px solid rgb(212, 211, 211);
  background-color: rgb(212, 211, 211);
}

.transparent-effect {
  position: absolute;
  top: 7.5px;
  right: 105px;
  width: 40px;
  height: calc(100% - (7.5px * 2));
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.transparent-effect.apply-transparent-effect {
  background: linear-gradient(
    to right,
    rgba(248, 245, 244, 0.4),
    rgba(248, 245, 244, 0.9),
    rgba(248, 245, 244, 1)
  );
  opacity: 1;
}
