.transparent-effect {
  position: absolute;
  top: 7.5px;
  right: 105px;
  width: 40px;
  height: calc(100% - (7.5px * 2));
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.transparent-effect.apply-transparent-effect {
  background: linear-gradient(
    to right,
    rgba(248, 245, 244, 0.4),
    rgba(248, 245, 244, 0.9),
    rgba(248, 245, 244, 1)
  );
  opacity: 1;
}

.loading-loop {
  opacity: 0;
  position: absolute;
  left: 16px;
  top: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../images/loading-loop.svg");
  background-color: var(--text-color);
  mask-image: url("../images/loading-loop.svg");
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition: opacity 0.1s ease-in-out;
}

.loading-loop.show-loading-loop {
  opacity: 1;
}
