.transparent-effect {
  position: absolute;
  top: 7.5px;
  right: 105px;
  width: 40px;
  height: calc(100% - (7.5px * 2));
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.transparent-effect.apply-transparent-effect {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255 0.4),
    rgba(255, 255, 255 0.9),
    rgba(255, 255, 255 1)
  );
  opacity: 1;
}
