@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Roboto:wght@100;300;400&display=swap");

:root {
  --text-color: rgb(51, 51, 51);
  --text-opaque-color: rgb(51, 51, 51, 0.9);
  --border-color: rgba(0, 0, 0, 0.1);
  --background-color: #f8f5f4;
  --language-list-background-color: #eee;
  --constant-width: 55vw;
  --constant-width-for-small-devices: 65vw;
}
