.input-wrapper {
  position: relative;
  z-index: 1;
}

.input {
  font-size: 24px;
  display: block;
  width: var(--constant-width);
  height: 56px;
  margin: auto;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--border-color);
  outline: none;
  background-color: var(--background-color);
  padding: 0 120px 0 60px;
  color: var(--text-color);
}

.spotra-logo-wrapper {
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotra-logo {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background-color: #222;
  background-image: url("../../logo-set/spotra-white.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  transition: background-image 0.15s ease-in, background-color 0.15s ease-in,
    background-size 0.15s ease-in;
}

.spotra-logo.show-loading-loop {
  background-image: url("../images/loading-loop.svg");
}

.spotra-logo.show-success-icon {
  background-image: url("../images/success-icon.svg");
  background-size: 30px;
}

.spotra-logo.show-error-icon {
  background-image: url("../images/error-icon.svg");
  background-color: #ff5a79;
  animation: tilt-shaking 0.1s 5;
}

.spotra-logo:hover {
  cursor: grab;
}

.spotra-logo:active {
  cursor: grabbing;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
