.spotra-result {
  position: relative;
  opacity: 0;
  margin-top: -56px;
  visibility: hidden;
  background-color: var(--background-color);
  width: var(--constant-width);
  padding: 12px;
  color: var(--text-opaque-color);
  transition: all 200ms ease-out;
  border-radius: 0 0 5px 5px;
  font-size: 16px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.spotra-result.open {
  opacity: 1;
  margin-top: 0;
  visibility: visible;
}

.translated-text {
  padding: 16px;
  margin: 0;
  border-radius: 10px;
  background: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in-out;
}

.translated-text.blur-text {
  filter: blur(1px);
}
