.swapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 0;
  width: 100px;
  height: 100%;
}

.swapper * {
  font-size: 16px;
}

.langs {
  display: flex;
}

.from-element,
.to-element {
  position: relative;
  font-size: 16px;
  color: #333;
  border: 1px solid var(--border-color);
  padding: 8px 10px;
  user-select: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.1s all ease-out;
  background-color: var(--language-list-background-color);
  text-transform: uppercase;
}

.from-element {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.to-element {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.to-element:hover {
  opacity: 0.9;
}

.from-element:hover {
  opacity: 0.9;
}

.lang-selector {
  opacity: 0.25;
  width: 130px;
  height: 0;
  max-height: 200px;
  position: absolute;
  transition: 0.3s all ease;
  overflow-y: auto;
  z-index: 999;
  scrollbar-width: initial;
  scrollbar-color: initial;
}

.lang-selector * {
  user-select: none;
}

.lang-selector::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 6px;
}

.lang-selector::-webkit-scrollbar-button {
  display: none;
}

.lang-selector::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.lang-selector::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgba(51, 51, 51, 0.25);
}

.lang-selector.open {
  opacity: 1;
  height: 200px;
}

.language {
  background-color: rgb(248, 245, 244);
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.25);
  padding: 12px 8px;
  text-align: center;
}

.language:hover {
  border-bottom: 1px solid rgb(212, 211, 211);
  background-color: rgb(212, 211, 211);
}
